aiofiles==24.1.0
fastapi==0.115.12
numpy==2.2.6
pyannote.audio==3.3.2
pydantic-settings==2.9.1
pytorch-lightning==2.5.1.post0
pytorch-metric-learning==2.8.1
scipy==1.15.3
soundfile==0.13.1
streaming-form-data==1.19.1
torch==2.7.1
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchaudio==2.7.1
torchmetrics==1.7.2
uvicorn==0.34.3
whisperx==3.3.4
